.search{
    margin-bottom: 1em;
    text-align: center;
    input{
        background-color: rgba(255,255,255,0.1);
        border: none;
        outline: none;
        border-radius: 20px;
        padding: 1em;
        color: gray;
        font-size: 0.8em;
        text-align: center;
    }
}